[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/BecherBenAicha
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/BecherBenAicha
	label-Verified = -1..+1 group user/BecherBenAicha
	push = group user/BecherBenAicha
	read = group user/BecherBenAicha
	rebase = group user/BecherBenAicha
	removeReviewer = group user/BecherBenAicha
	submit = group user/BecherBenAicha
[access "refs/heads/*"]
	create = group user/BecherBenAicha
	push = +force group user/BecherBenAicha
	pushMerge = group user/BecherBenAicha
	read = group user/BecherBenAicha
[access "refs/tags/*"]
	push = group user/BecherBenAicha
	push = +force group user/BecherBenAicha
